*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

    --colorTitulo:#0d47a1;
    --colorTexto:#000;
    --colorBoton:#fff;
    --fondoBarra:#292b2c;
    --colorSubtitulo:#4285f4;
}

.contenedor{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/**** Header ***/
.header{
    width: 85%;
    padding: px;
}
.imgHeader{
    width: 100%;
}

/** CABEERA DE LA PAGINA **/
/*** Navegación ***/

.barra-navegacion{
    width: 100%;
    height: 55px;
    background-color: var(--fondoBarra);
    margin-bottom: 19px;
}
.contenedor-navegacion{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 55px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 270px;
    height: 25px;
}
.navegacion{
    height: 55px;
    flex:0 0 50%;
}

.menu{
    display: flex;
    justify-content: space-around;
}
.item{
    list-style: none;
    flex:0 0 25%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item a{
    color:var(--colorBoton);
    text-decoration: none;
    font-size: 1.3rem;
}
.item:hover{
    border-bottom:solid 1px white;
}


/*      RESPONSIVE-HEADER    */



@media (max-width: 768px){
    .header{
        width: 100%;
        padding: 0;
        align-content:center ;
    }
    .barra-navegacion{
        height: auto;
    }
    .contenedor-navegacion{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
    }
    
}
@media (max-width: 576px){
    

}
@media (max-width: 468px){
    .menu{
        flex-direction: column;
    }
    .item a{
        height: 35px;
    }
   
}
